<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TOP_APP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<userSettings>
		<TOP_APP.My.MySettings>
   <setting name="Halim1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim6" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim7" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim8" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim9" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim10" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim11" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim12" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim13" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim14" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim15" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim16" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim17" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim18" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim19" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim20" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim21" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim22" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim23" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim24" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim25" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim26" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim27" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim28" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim29" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Halim30" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="حليممم" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="تثبيت" serializeAs="String">
    <value>False</value>
   </setting>
  </TOP_APP.My.MySettings>
	</userSettings>
</configuration>
